::selection {
  background-color: var(--primary-color);
  color: #fff;
}

/* GLOBAL STYLES */
.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: var(--primary-color);
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-light);
}

.container {
  max-width: 114rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.secondary-heading {
  font-size: 2.6rem;
  text-align: center;
  color: var(--primary-color);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.tertiary-heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.tertiary-heading::before {
  content: "";
  width: 3rem;
  height: 2rem;
  display: inline-block;
  background-color: var(--primary-color);
  margin-right: 1rem;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
  padding: 2rem 4rem;
  box-shadow: 0 0 1rem #555;
}

.chevron-icon {
  margin-left: 0.4rem;
}

/* GRID system */
.row {
  display: grid;
}

.col-1 {
  grid-template-columns: 1fr;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.col-5 {
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
}

.col-6 {
  grid-template-columns: repeat(6, 1fr);
  gap: 4rem;
}

.col-sm {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
